{% extends 'globeportal/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>About Us</h1>
    <a href="https://globetudes.212agency.ma/about-v-2/" target="_blank">En Savior plus</a>  
    {% comment %} work on this so that the about us will be directed to globetudes' main site  {% endcomment %}
    
    <p>Welcome to Globeportal! We are dedicated to providing cutting-edge GIS solutions to meet your needs.</p>
    <p>Our mission is to make geospatial data accessible, efficient, and insightful for businesses and individuals.</p>
</div>
{% endblock %}
