{% extends 'dashboard/base_dashboard.html' %}

{% load static %}
<title>{% block title %}Geoportal Dashboard{% endblock title %}</title>

{% block extra_heads %}

{% endblock extra_heads %}

{% block content %}
        <div class="main">
            <div class="cards">
                <a href="{% url 'globeportal:home'%}" target="">
                <div class="card">
                    <div class="card-content">
                        <div class="number">47</div>
                        
                            <div class="card-name">Visualize</div>
                        
                    </div>
                    <div class="icon-box">
                        <img style ="width:50px; height:50px;"src="https://cdn-icons-png.flaticon.com/512/1700/1700483.png" alt="Visualize-icon">
                    </div>
                </div>
                </a> 
                <a href="{% url 'dashboard:add-data'%}" target="">
                    <div class="card">
                        <div class="card-content">
                            <div class="number">1217</div>
                            <div class="card-name">Add Data</div>
                        </div>
                        <div class="icon-box">
                            <img style ="width:50px; height:50px;"src="https://cdn-icons-png.flaticon.com/512/2312/2312340.png" alt="Visualize-icon">
                        </div>
                    </div>
                </a>
                
                <a href="">
                    <div class="card">
                        <div class="card-content">
                            <div class="number">1217</div>
                            <div class="card-name">Users</div>
                        </div>
                        <div class="icon-box">
                            <img style ="width:50px; height:50px;"src="https://www.iconpacks.net/icons/1/free-user-group-icon-296-thumb.png" alt="Usres-icon">
                        </div>
                    </div>
                </a>
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Settings</div>
                    </div>
                    <div class="icon-box">
                        <img style ="width:50px; height:50px;"src="https://www.iconpacks.net/icons/1/free-settings-icon-778-thumb.png" alt="Settings-icon">
                    </div>
                </div>
            </div>
            <div class="charts">
                <h2>Forest Graphics</h2>
                <div class="chart">
                    <h3>Forest Graphics Details 1</h3>
                    <canvas id="lineChart"></canvas>
                </div>
                
            </div>
        </div>
    </div>
    {% endblock content %}
 
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>
